
@{
    ViewBag.Title = "The Collection";
}

<h2>The Collection</h2>
<div class="container-background">


    <p>The text and associated metadata accessed using the British Library Big Data Experiment are from a large collection of items (circa 40k titles, 65k volumes) from 17th, 18th and 19th century digitised books.</p>

    <p>The British Library Big Data Experiment searches a subsection of this collection, with circa 10k titles. Details of the titles included can be found <a href="#">here</a>. The entire collection can be found through <a href="https://github.com/BL-Labs/imagedirectory">this GitHub Repository</a>.</p>

    <p>All collections available through the British Library Big Data Experiment are available for unrestricted use and reuse under a <a href="http://www.bl.uk/aboutus/terms/copyright/index.html">Public Domain Mark</a>.</p>
</div>

