
@{
    ViewBag.Title = "The Project";
}

<h2>The Project</h2>
<div class="container-background" id="about-content">
   <p>
       <b>The British Library Big Data Experiment is an experimental service that you can use to search, query, and download a subset of the digital collections held at the British Library. 
       The service entered public beta 26 August 2014.</b>
    </p>

    <p>
        Features of this service includes, but are not limited to, downloading full text files as .txt, and statistical analysis of most frequent words in the text.
    </p>

    <p>
        The British Library Big Data Experiment was developed by Stefan Alborzpour, Stelios Georgiou, Nektaria Stavrou and Wendy Wong during the British Library Big Data Experiment, a dissertation project undertaken as part of their MSc work in Software Sytems Engineering (Georgiou, Stavrou) and Computer Science (Alborzpour, Wong) at the University College London Computer Science department.
    <p/>

    <p>
        The project was supported by the <a href="http://britishlibrary.typepad.co.uk/digital-scholarship/">British Library Digital Research team</a>, <a href="http://labs.bl.uk/">British Library Labs</a>, <a href="https://www.ucl.ac.uk/dh">University College London Centre for Digital Humanities</a>, Microsoft UK, and Microsoft Research.
    </p>

    <p>
        The British Library has a vision for transforming access to and research with our digital collections (see Adam Farquhar and James Baker, (2014): <a href="http://dx.doi.org/10.6084/m9.figshare.1092550">Interoperable Infrastructures for Digital Research: A proposed pathway for enabling transformation</a>). The British Library Big Data Experiment is a step towards that vision, a service that offers unconventional engagement with a subset of the digital collections held at the British Library. This does not replace our core services, but rather points towards services we could implement in the future. We hope you find the Big Data Experiment of use and we would love your feedback - all comments, questions, and suggestions should be addressed to the <a href="mailto:digitalresearch@bl.uk?Subject=Big%20Data%20Experiment" target="_top">British Library Digital Research team</a>.
    </p>
    
    <p>
        The British Library Big Data Experiment is built on Microsoft Azure. All code is available under [open licence] at [location]. (TBA)
    </p>
    <br />
    <h4>Acknowledgements</h4>
    <p>
        We are grateful for the support of many individuals who helped bring this project to fruition. From Microsoft we thank Geoff Hughes, David Gristwood and Kenji Takeda. From the Microsoft Azure Search team, Liam Cavanagh and Pablo Castro. From University College London, Melissa Terras and Dean Mohamedally, and from the British Library, James Baker, Ben O'Steen and Adam Farquhar. We are also indebted to the numerous researchers who gave up their time to join our focus groups.
    </p>
    

</div>