
@{
    ViewBag.Title = "Contact Us";
}


<h2>Contact Us</h2>
<div class="container-background">


    <p>
        The British Library Big Data Experiment was developed by Stefan Alborzpour, Stelios Georgiou, Nektaria Stavrou and Wendy Wong during the British Library Big Data Experiment, a dissertation project undertaken as part of their MSc work in Software Sytems Engineering (Georgiou, Stavrou) and Computer Science (Alborzpour, Wong) at the University College London Computer Science department.
    </p>

    <p>
        The project was developed in collaboration with the <a href="http://britishlibrary.typepad.co.uk/digital-scholarship/">British Library Digital Research Team</a> and supported by <a href="http://labs.bl.uk/">British Library Labs</a>, University College London Centre for Digital Humanities, Microsoft UK, and Microsoft Research.
    </p>
    <br />
   <h4>Contact</h4>

    <p>
        All comments, suggestions, or queries about the Big Data Experiment should be addressed to: <a href="mailto:digitalresearch@bl.uk">digitalresearch@bl.uk</a></p>
</div>